<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/weather-icons.css">
        <link rel="stylesheet" href="/css/weather-icons.min.css">
        <link rel="stylesheet" href="/css/weather-icons-wind.css">
        <link rel="stylesheet" href="/css/weather-icons-wind.min.css">
        <script src="https://kit.fontawesome.com/fec719fd55.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="main-content">
            <div id="static-info">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            </div>
            <div id="results-container">
            <p id="message-1" class="dynamic"></p>
            <p id="message-1-img" class="dynamic"></p>
            <p id="message-2" class="dynamic"></p>
            <p id="message-2-img" class="dynamic"></p>
            <p id="message-3" class="dynamic"></p>
            <p id="message-3-img" class="dynamic"></p>
            <p id="message-4" class="dynamic"></p>
            <p id="message-4-img" class="dynamic"></p>
            <p id="message-5" class="dynamic"></p>
            <p id="message-5-img" class="dynamic"></p>
            <p id="message-6" class="dynamic"></p>
            <p id="message-6-img" class="dynamic"></p>
            </div>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>